{% load staticfiles %}

    <html>
        <head>
            <title>HumanFinder</title>
            <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
            <script src="{% static "js/bootstrap.js" %}"></script>
			<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico'%}"/>
        </head>
        <body>
        <div class="body1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row page-header navbar-fixed-top">
                <div style="padding: 0" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <h1 style="padding-top: 0"><a style="float: left; margin-left: 10px;" class="HF" href="{% url 'app.views.post_list' %}">HumanFinder</a></h1>
                </div>
                <div style="padding: 0; padding-top: 14px;" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a style="float: left; margin-right: 10px;" class="" id="findyouhospital" href ="{% url 'post_list' %}">Пациенты</a>
                    {% if user.is_authenticated %}
                        {% if perms.app %}
                                <a style="float: left" href="{% url 'post_new' %}" class="top-menu plus"><span class="glyphicon glyphicon-plus"></span></a>
                        {% endif %}
                        {% if user.is_superuser %}
                                <a style="float: left" href="{% url 'post_draft_list' %}" class="top-menu edit"><span style="border: 0" class="glyphicon glyphicon-check"></span></a>
                        {% endif %}
                    {% endif %}
                </div>
                <div style="padding: 0; padding-top: 14px;" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a style="float:left; margin-right: 10px;" class="" id="findyou" href ="{% url 'post_list_user' %}">Объявления</a>
                    {% if user.is_authenticated %}
                        <a style="float: left" href="{% url 'post_new_user' %}" class="top-menu plus"><span class="glyphicon glyphicon-plus"></span></a>
                        {% if user.is_superuser %}
                                <a style="float: left" href="{% url 'post_draft_list_user' %}" class="top-menu edit"><span class="glyphicon glyphicon-check"></span></a>
                        {% endif %}
                    {% endif %}
                </div>
                <div style="padding: 0; padding-top: 14px;" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a style="float:left; margin-right: 10px;" class="" id="manual" href ="{% url 'post_list_user' %}">Инструкция</a>
                </div>
                <div style="padding: 0; padding-right: 15px" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    {% if user.is_authenticated %}
                        <a style="" href="{% url 'logout' %}" class="top-menu off"><span class="glyphicon glyphicon-off"></span></a>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <a style="margin-right: 15px" href="{% url 'login' %}" class="top-menu lock"><span class="glyphicon glyphicon-lock"></span></a>
                    {% endif %}
                    <p style="float: right; margin-right: 25px;" class="top-menu username"><a id="username_a" href ='{% url 'user_profile' %}'>{{ user.username }}</a></p>
                </div>
            </div>




{#            <div class="row bar-search">#}
{#                {% block search %}#}
{#                {% endblock %}#}
{#            </div>#}
        </div>
        <div>
            <div class="block_post col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block content %}
					{% endblock %}
            </div>
            <div class="modal-footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
        </div>
        </body>
    </html>