{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <div style="width: 350px; margin-right: 100px; margin-left: 15px" class="search col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="row search1">
            <form style="padding: 0" method="GET"  class="navbar-form">{% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <p class="inf">Общая информация</p>
                    </div>
                    <div class="row inf1" style="margin-bottom: 30px">
                        {{ form.id }}
                    </div>
                    <div class="row inf1">
                        {{ form.name }}
                    </div>
                    <div class="row inf1">
                        {{ form.surname }}
                    </div>
                    <div class="row inf1">
                        {{ form.fam }}
                    </div>
                    <div class="row" style="margin-bottom: 10px; padding-left: 15px; padding-right: 15px">
                        <div>{{ form.age }}</div>
                        <div>{{ form.height }}</div>
                    </div>
                    <div class="row">
                        <p class="inf">Описание</p>
                    </div>
                    <div class="row inf2">
                        Телосложение
                    </div>
                    <div class="row inf1">
                        {{ form.body }}
                    </div>
                    <div class="row inf2">
                        Цвет волос
                    </div>
                    <div class="row inf1">
                        {{ form.hair_color }}
                    </div>
                    <div class="row inf2">
                        Цвет глаз
                    </div>
                    <div class="row inf1" style="margin-bottom: 20px">
                        {{ form.eyes_color }}
                    </div>
                    <div class="row check inf2" style="margin: 0">
                        <div>Шрамы:<p>{{ form.shramy }}</p></div>
                        <div>Тату:<p>{{ form.tatu }}</p></div>
                        <div>Протезы:<p>{{ form.protez }}</p></div>
                        <div>Отсутвствие конечностей:<p>{{ form.konech }}</p></div>
                    </div>
{#                    <div class="row inf1">#}
{#                        <select title="hat" id="id_hat" name="hat">#}
{#                            {% for x, y in form.hat.field.choices %}#}
{#                                <option value="{{ x }}">{{ y }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
                    <div class="row inf2">
                        Головной убор
                    </div>
                    <div class="row inf1">
                        {{ form.hat }}
                    </div>
                    <div class="row inf2">
                        Цвет головного убора
                    </div>
                    <div class="row inf1">
                        {{ form.hat_color }}
                    </div>
                    <div class="row inf2">
                        Верхняя одежда
                    </div>
                    <div class="row inf1">
                        {{ form.vverh }}
                    </div>
                    <div class="row inf2">
                        Цвет верхней одежды
                    </div>
                    <div class="row inf1">
                        {{ form.vverh_color }}
                    </div>
                    <div class="row inf2">
                        Штаны
                    </div>
                    <div class="row inf1">
                        {{ form.niz }}
                    </div>
                    <div class="row inf2">
                        Цвет штанов
                    </div>
                    <div class="row inf1">
                        {{ form.niz_color }}
                    </div>
                    <div class="row inf2">
                        Обувь
                    </div>
                    <div class="row inf1">
                        {{ form.boots }}
                    </div>
                    <div class="row inf2">
                        Цвет обуви
                    </div>
                    <div class="row inf1" style="margin-bottom: 50px">
                        {{ form.boots_color }}
                    </div>
{#                    <div class="row">#}
{#                        {{ form.text }}#}
{#                    </div>#}
                    <div class="row">
                        <button style="margin-bottom: 20px" type="submit" class="btn btn-default save3">Искать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>





    <div class="content container col-lg-6 col-md-6 col-sm-6 col-xs-6">
    {% for post in posts %}
        <div class="post3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="post">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a class="comments" style="float: left" href="{% url 'post_detail' pk=post.pk %}">Комментарии: {{ post.approved_comments.count }}</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p style="font-size: 16">ID {{ post.pk }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="date1">
				        <p class="date1">{{ post.published_date }}</p>
			        </div>
                </div>
            </div>
			<h1 class="FIO_post_detail1"><a href="{% url 'app.views.post_detail' pk=post.pk %}">{{ post.surname }} {{ post.name }} {{ post.fam }}</a></h1>
            <div class="row row11">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row profile1 opis_post_detail">Возраст<div class="row_age1">{{ post.age }}</div><p class="sm1">лет</p></div>
                </div>
                {% if post.gender == 'Мужчина' %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img class="Male1" src="{% static "img/post/Male.png" %}" alt="User" />
                    </div>
                {% else %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img class="Male1" src="{% static "img/post/Female.png" %}" alt="User" />
                    </div>
                {% endif %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row profile1 opis_post_detail">Рост<div class="row_height1">{{ post.height }}</div><p class="sm1">см</p></div>
                </div>
            </div>

            <hr class="hr_post_detail1">

            <div class="row row21">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img class="Torso1" src="{% static "img/post/Torso.png" %}" alt="Body" />
                    <p class="profile1">{{ post.body }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img class="Haircut" src="{% static "img/post/Hair.png" %}" alt="Hair" />
                    <p class="profile1">{{ post.hair_color }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <img class="Eye1" src="{% static "img/post/Eye.png" %}" alt="Eye" />
                    <p class="profile1">{{ post.eyes_color }}</p>
                </div>
            </div>

            <hr class="hr_post_detail1">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="primet2">Местонахождение</p>
                </div>
            </div>
            <div class="row row6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="hospital_name">{{ post.hospital.hospital_name }}</p>
                </div>
            </div>
            <div class="row row71">
                <div class="adress col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="address1">{{ post.hospital.hospital_adress }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <p class="number1">{{ post.hospital.hospital_number1 }}</p>
                </div>
            </div>
		</div>
        </div>
	{% endfor %}

    {% if posts %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 columns">
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="arrow"><a href="/page/{{ posts.previous_page_number }}/">&laquo;</a></li>
                    {% else %}
                        <li class="arrow disabled"><a>&laquo;</a></li>
                    {% endif %}
                    {% for page in posts.paginator.page_range %}
                        {% if page == posts.number %}
                            <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
                        {% else %}
                            <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li class="arrow"><a href="/page/{{ posts.next_page_number }}/">&raquo;</a></li>
                    {% else %}
                        <li class="arrow disabled"><a>&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
{% endblock content %}